/* @import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400); */
@font-face {font-family: 'Poppins'; src: url(faraz5012.txt);}
html, body {height: 100%;}
body {background: radial-gradient(#8282a9, #003300);
    font-family: 'Source Code Pro', monospace;
    font-weight: 800;
    overflow: hidden;
    padding: 30px 0 0 30px;
    text-align: center;}
.word {/* "word, done" hazýr sözcükler */
    bottom: 0;
    color: #ff0;
    font-size: 4.5em;
    height: 2.5em;
    left: 0;
    line-height: 2.5em;
    margin: auto;
    right: 0;
    position: absolute;
    text-shadow: 0 0 10px rgba(250, 250, 50, 0.2), 0 0 5px rgba(150, 255, 100, 0.9);
    top: 0}
.word span {display: inline-block;
    transform: translateX(100%) scale(0.3);
    transition: transform 3000ms;}
.word .done {color: #faa;
    transform: translateX(0) scale(1.2);}
.örtü {background-image: linear-gradient(transparent 0%, rgba(10, 10, 16, 0.5) 50%);
    background-size: 1000px 2px;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;}