/* Genel kurulum */
* {box-sizing: border-box;}
html,body {
    font-family: sans-serif;
    line-height: 1.2rem;}

/* Serilim ve stilleme */
h1 {
    color: green;
    margin-left: .5rem;}
.açýklama, .anahtar-türet {margin: 0 .5rem;}
.açýklama > p {margin-top: 0;}
.anahtar-türet {
    box-shadow: -1px 4px 7px black;
    padding: .2rem .5rem;
    margin-bottom: 2rem;}
.anahtar-türet-kontrolleri > * {margin: .5rem 0;}
input[type="button"] {width: 5rem; background-color: gold;}
input[type="button"]:hover {background-color: goldenrod;}
.þifrelimetin-deðeri, .deþifrelimetin-deðeri {
    padding-left: .5rem;
    font-family: monospace;
    color: green;
    font-weight: bold;}
.hata {
    color: red;
    font-weight: bold;}

/* Tüm sayfanýn ýzgaralanmasý */
main {
    display: grid;
    grid-template-columns: 32rem 1fr;
    grid-template-rows: 4rem 1fr;}
h1 {
    grid-column: 1/2;
    grid-row: 1;}
.örnekler {
    grid-column: 1;
    grid-row: 2;}
.açýklama {
    grid-column: 2;
    grid-row: 2;}

/* Anahtar türetme kontrolleri ýzgarasý */
.anahtar-türet-kontrolleri {
    display: grid;
    grid-template-columns: 1fr 5rem;
    grid-template-rows: 1fr 1fr 1fr;}
.mesaj-kontrolü {
    grid-column-start: 1;
    grid-row-start: 1;}
.þifreliMetin {
    grid-column-start: 1;
    grid-row-start: 2;}
.deþifreliMetin {
    grid-column-start: 1;
    grid-row-start: 3;}
.þifrele-düðmesi {
    grid-column-start: 2;
    grid-row-start: 1;}
.deþifrele-düðmesi {
    grid-column-start: 2;
    grid-row-start: 2;}

/* Çýktýlarýn gösterilme animasyonu */
.tebarruz {animation: barizlen 1.5s;}
@keyframes barizlen {
    from {opacity: 0;}
    to {opacity: 1;} }