/* Geneel kurulum */
* {box-sizing: border-box;}
html,body {
    font-family: sans-serif;
    line-height: 1.2rem;}

/* Serilim ve stillemeler */
h1 {
    color: green;
    margin-left: .5rem;}
.açýklama, .ithal-anahtar {margin: 0 .5rem;}
.açýklama > p {margin-top: 0;}
.ithal-anahtar-düðmesi {background-color: gold;}
.ithal-anahtar-düðmesi:hover {background-color: goldenrod;}
.ithal-anahtar {
    box-shadow: -1px 4px 7px black;
    padding: .2rem .5rem;
    margin-bottom: 2rem;}
.ithal-anahtar-kontrolleri > * {margin: .5rem 0;}
.þifrelimetin-deðeri, .dijitalimza-deðeri {
    padding-left: .5rem;
    font-family: monospace;
    color: blue;
    font-weight: bold;}
.imzalama-düðmesi, .þifreleme-düðmesi {
    background-color: green;
    color: yellow;}
.gizli {display: none;}

/* Tüm sayfanýn ýzgaralanmasý */
main {
    display: grid;
    grid-template-columns: 36rem 1fr;
    grid-template-rows: 4rem 1fr;}
h1 {
    grid-column: 1/2;
    grid-row: 1;}
.örnekler {
    grid-column: 1;
    grid-row: 2;}
.açýklama {
    grid-column: 2;
    grid-row: 2;}

/* þifreleme ve imzalama kontrolleri ýzgaralarý */
.ithal-anahtar-kontrolleri {
    display: grid;
    grid-template-columns: 1fr 8rem;
    grid-template-rows: 1fr 1fr;}
.mesaj-kontrolü {
    grid-column-start: 1;
    grid-row-start: 1;}
.þifreliMetin, .dijitalÝmza {
    grid-column-start: 1;
    grid-row-start: 2;}
.ithal-anahtar-düðmesi {
    grid-column-start: 2;
    grid-row-start: 1;}
.þifreleme-düðmesi, .imzalama-düðmesi {
    grid-column-start: 2;
    grid-row-start: 2;}

/* Çýktýyý gösterme animasyonu */
.tebarruz {animation: netleþ 1.5s;}
@keyframes netleþ {
    from {opacity: 0;}
    to {opacity: 1;} }