/* C1b01x2a.css: 3 kusurla internet aðsayfa tasarým css örneði. */
html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #369;}
body {
    width: 80em;
    background-color: #da7;
    margin: 2em auto;
    padding:20px;}

/* Tipografi*/
h1 {font-size: 4em;}
h2 {font-size: 3.2em;}
pli {font-size: 1.7em;} /* 1.kusur) p, li */

/*+++ daha hassas bölüm stilleri +++*/
/* baþlýk ve ayaklýk */
header, footer {
    background-colour: teal;
    height: 10em;
    padding: 2em;}
h1, footer p {margin: -100px;} /* 2.kusur) 0px; */
h1 {
    text-align: center;
    padding: 0.5em 0;}

/* esas içerik */
main {padding: 2em;}
main p, main li {line-height: 2;}
img {
    float: right /* 3.kusur) ; */
    margin: 1.2em 2em;
    width: 100px;}