/* C1b03x5d.css: Resmin ve metnin tarayýcýya duyarlýlðý css vasýflama örneði. */

html {
    font-family: sans-serif;
    background: #134;}
body {
    background: #b98;
    padding: 10px;
    max-width: 80%;
    min-width: 450px;
    margin: 0 auto;}
h1 {
    color: navy;
    padding-top: 24px;}
p {
    line-height: 1.5;
    letter-spacing: 1px;}
em {color: red;}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;} /* aktüel metin eninin */