/* C1c34.css: JS nesnesi verilerinin özel çevrimiçi "Faster One" yazıfonlu css vasıflanması alt-örneği. */

h1, h2 {font-family: "Faster One", cursive;}
h1 {
    font-size: 4rem;
    text-align: center;}
header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;}
section article {
    width: 33%;
    float: left;}
article p {margin: 5px 0;}
article ul {margin-top: 0;}
h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;}
