/* C1d3d1.css: Resimli müzikli yorumlu namakbul ayı tanıtım css vasıfları alt-örneği. */

/* Genel kurulum */
html {
    font-size: 10px;
    background-color: #123;}
body {
    background-color: #a97;
    max-width: 90%;
    min-width: 900px;
    padding: 20px;
    margin: 2em auto;
    border: 5px solid tomato;
    /* text-align: center; */}
* {box-sizing: border-box;}

/* Tiplemeler */
font[size="7"], font[size="6"], font[size="5"] {
    font-family: "Sonsie One", cursive;
    color: #2a2a2a;}
p, input, li, table, label {
    font-family: "Open Sans Condensed", sans-serif;
    color: #2a2a2a;}
font[size="7"] {
    font-size: 4rem;
    color: white;
    text-shadow: 5px 5px 5px black;}
font[size="6"] {
    font-size: 3rem;
    text-align: center;}
font[size="5"] {font-size: 2.2rem;}
p, li, table {
    font-size: 1.6rem;
    line-height: 1.5;}

/* Başlık serilimi */
div[class="nav"], article, footer, .tali {
    background-color: green;
    border:2px solid black;}
article, footer, .tali {padding: 10px 30px;}
article {margin-right: 10px;}
div[class="nav"] {
    height: 50px;
    display: flex;
    padding: 1% 0;
    margin-bottom: 10px;}
div[class="nav"] ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;}
div[class="nav"] li {
    display: inline;
    text-align: center;
    flex: 1;}
div[class="nav"] a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;}
div[class="nav"] .ara {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;}
.ara input {
    font-size: 1.6rem;
    height: 32px;}
.ara input[type="search"] {
    flex: 3;
    border: 1px solid red;}
.ara input[type="submit"] {
    flex: 1;
    margin-left: 1rem;
    background: #333;
    border: 0;
    color: white;}

/* Main serilimi */
main {
    width: 100%;
    display: flex;}
article {flex: 5;}
.tali {flex: 2;}
footer {margin-top: 10px;}

/* Tablo stilleme */
table {
    width: 100%;
    background-color: black;
    /* border-collapse: collapse;*/ }
th, td {
    padding: 10px;
    text-align: center;}
thead{background-color: magenta;}
tbody tr:nth-child(even) {background-color: DarkKhaki;}
tbody tr:nth-child(odd) {background-color: khaki;}

/* Resimleri ve müziği stilleme */
img, audio {
    display: block;
    margin: 0 auto;}
audio {width: 500px;}

/* Yorum stilleme */
.yorumlar {
    background-color: #abc;
    padding: 10px;}
.göster-gizle {cursor: pointer;}
.yorumlar font[size="6"] {font-size: 2rem;}
.yorumlar font[size="6"]:nth-of-type(2) {margin-bottom: 0;}
.yorum-formu {margin-bottom: 3rem;}
.yorum-formu .esnek-çift {
    display: flex;
    padding: 0 3rem 1rem;}
.yorum-formu label {
    align-self: center;
    flex: 2;
    text-align: right;}
.yorum-formu input {
    margin-left: 1rem;
    flex: 6;}
.göster-gizle {
    text-align: center;
    width: 150px;}
.yorum-formu input, .yorum-formu label, .göster-gizle {
    font-size: 1.6rem;
    line-height: 32px;}
.yorum-formu input[type="submit"], .göster-gizle {
    background: #333;
    border: 0;
    color: white;}
.yorum-formu input[type="text"] {
    background-color: Lime;
    border:1px solid red;
    color: navy;}
.yorum-formu input[type="submit"] {
    width: 30%;
    display: block;
    margin: 0 auto;}
.yorum-kabı {
    text-align: left;
    margin-top: 0;}
.yorum-kabı li {
    list-style-type: none;
    display: flex;}
.yorum-kabı li p:nth-child(1) {
    flex: 1.5;
    font-weight: bold;}
.yorum-kabı li p:nth-child(2) {flex: 5;}